<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Kolesnikov"/>
    <title>Колесников web</title>

    <link th:href="@{${server_address + ':8000/styles/css/bootstrap.min.css'}}" rel="stylesheet">

    <link th:href="@{${server_address + ':8000/styles/css/carousel.css'}}" rel="stylesheet"/>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
        .text_wraper {
            margin-left: 8rem;
            margin-right: 8rem;

        }   
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, 0.1);
        border: solid rgba(0, 0, 0, 0.15);
        border-width: 1px 0;
        box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
          inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -0.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }



    </style>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Колесников web</a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"
                        >Главная</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Связаться</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">О студии</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="bg_image">
        <img
                th:src="@{${server_address + ':8000/images/top-mountain.jpg'}}"
                alt="создание сайтов красивые горы"
        />
        <div class="effect"></div>
        <div class="head-text">
            <h1>
                Колесников web - это студия дизайна и разработки<br/>
                сайтов, приложений и web-серверов.
            </h1>
        </div>
    </div>

    <div class="section">
        <hr class="sep"/>

        <div class="text_wraper">

            <div class="row" style="text-align: center;">
                <div class="col-lg-4 col-md-6 mt-4">
                    <p>Обсуждаем дизайн, функционал и приступаем к работе.</p>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <p>Для начала работы не требуется предоплата.</p>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <p>Вношу необходимые правки и запускаю сайт/приложение.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="price_btn" style="align-items: center">
        <a href="/contact"
        >
            <button
                    type="button"
                    style="padding: 4px"
                    class="btn btn-outline-light"
            >
                Узнать стоимость
            </button>
        </a
        >
    </div>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item">
                <img th:src="@{${server_address + ':8000/images/car_0.jpg'}}" class="d-block w-100">

                <!--            <img src="images/car_0.jpg" class="d-block w-100" />-->

                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1 align="center">Дизайн.</h1>
                        <p>
                            «Сейчас свыше 78 процентов людей готовы платить за продукт
                            онлайн.»
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img th:src="@{${server_address + ':8000/images/car_1.jpg'}}" class="d-block w-100">

                <!--            <img src="images/car_1.jpg" class="d-block w-100" />-->

                <div class="container">
                    <div class="carousel-caption">
                        <h1 align="center">Удобство.</h1>
                        <p>«В современном мире люди или спят, или всегда на связи.»</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item active">
                <img th:src="@{${server_address + ':8000/images/car_2.jpg'}}" class="d-block w-100">

                <!--            <img src="images/car_2.jpg" class="d-block w-100" />-->

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1 align="center">Рост.</h1>
                        <p>
                            «Популярность мобильных девайсов растет быстрее, чем все
                            прогнозы экспертов Google.»
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#myCarousel"
                data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#myCarousel"
                data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div class="text_wraper">

        <div class="bio">
            <h2 class="bio_head">Обо мне</h2>
            <p>
                Здравствуйте. Меня зовут Григорий Колесников и я занимаюсь созданием
                web-приложений: сайты на основе Rest-сервисов, web-сервера. Так же
                создаю приложения для платформы Android. Я так же размещаю сайты и
                приложения в сети и в магазинах приложений. <br/><br/>
                В работе для меня наиболее ценны дизайн и производительность. Поэтому
                я считаю важной каждую деталь, а в качестве инструментов использую
                быстродействующие технологии.
            </p>
        </div>

    </div>

    <hr class="sep"/>


    <div class="text_wraper">
        <div class="tech_desc">
            <button
                    class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#dashboard-collapse"
                    aria-expanded="false"
            >
                <h2 class="tech_text">Используемые технологии</h2>
                <img class="down_arrow_img" th:src="@{${server_address + ':8000/images/down-arrow.jpg'}}"
                     lt="технологии создания сайтов"
                />
            </button>
            <div class="collapse show" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a
                                href="https://ru.wikipedia.org/wiki/Spring_Framework"
                                class="link-dark d-inline-flex text-decoration-none rounded"
                        >
                            <img
                                    class="tech_logo"
                                    th:src="@{${server_address + ':8000/images/spring-boot.png'}}"
                                    alt="spring boot"
                            />
                        </a>
                    </li>
                    <li>
                        <a
                                href="https://ru.wikipedia.org/wiki/Java"
                                class="link-dark d-inline-flex text-decoration-none rounded"
                        >
                            <img class="tech_logo" th:src="@{${server_address + ':8000/images/cpp_logo.png'}}"
                                 alt="C++"/>
                        </a>
                    </li>
                    <li>
                        <a
                                href="https://ru.wikipedia.org/wiki/C%2B%2B"
                                class="link-dark d-inline-flex text-decoration-none rounded"
                        >
                            <img class="tech_logo" th:src="@{${server_address + ':8000/images/java_logo.png'}}"
                                 alt="java"/>
                        </a>
                    </li>
                    <li>
                        <a
                                href="https://ru.wikipedia.org/wiki/Qt"
                                class="link-dark d-inline-flex text-decoration-none rounded"
                        >
                            <img class="tech_logo" th:src="@{${server_address + ':8000/images/qt_logo.png'}}"
                                 alt="Qt"/>
                        </a>
                    </li>
                    <li>
                        <a
                                href="https://ru.wikipedia.org/wiki/Bootstrap_(%D1%84%D1%80%D0%B5%D0%B9%D0%BC%D0%B2%D0%BE%D1%80%D0%BA)"
                                class="link-dark d-inline-flex text-decoration-none rounded"
                        >
                            <img
                                    class="tech_logo"
                                    th:src="@{${server_address + ':8000/images/bootstrap_png.png'}}"
                                    alt="Bootstrap"
                            />
                        </a>
                    </li>
                    <li>
                        <a
                                href="https://ru.wikipedia.org/wiki/%D0%92%D1%91%D1%80%D1%81%D1%82%D0%BA%D0%B0_%D0%B2%D0%B5%D0%B1-%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86"
                                class="link-dark d-inline-flex text-decoration-none rounded"
                        >
                            <img
                                    class="tech_logo"
                                    th:src="@{${server_address + ':8000/images/html_js_css_logo.png'}}"
                                    alt="html css js"
                            />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="text_wraper">

        <div class="bio">
            <p>
                Создаю сайты и приложения, которые помогают привлечь клиентов и
                повысить узнаваемость компании.
            </p>
        </div>

    </div>

    <hr class="sep"/>

    <div class="text_wraper">

        <div class="projects">
            <h2 class="bio_head">Проекты</h2>
        </div>

        <div class="row featurette">
            <div class="col-md-7">
                <h5 class="project_name">
                    Приложение "личный кабинет" оператора связи.
                </h5>
                <p class="lead">
                    Приложение позволяет контролировать услуги связи с экрана своего
                    смартфона. <br/><br/>
                    Функционал: <br/><b>
                    - контроль состояния счета,<br/>
                    - встроенный чат с технической поддержкой,<br/>
                    - пуш-уведомления,<br/>
                    - контроль доступа.<br
                /></b>
                </p>
            </div>
            <div class="col-md-5">
                <img
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                        width="500"
                        height="500"
                        xmlns="http://www.w3.org/2000/svg"
                        role="img"
                        aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice"
                        focusable="false"
                        th:src="@{${server_address + ':8000/images/app_banner_success.jpg'}}"
                />


                <rect width="100%" height="100%" fill="#eee"></rect>
                <text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
            </div>


            <div class="col-md-7">
                <h5 class="project_name">Game Checkers Bbreakthrough. Android.</h5>
                <p class="lead">
                    The game is psychological and strategic. You have to fight with
                    various characters having a different style of play. The moves are
                    done at the same time, which significantly distinguishes the game
                    from most other games in which opponents take turns. You can play
                    with any of your checkers on any free neighboring field. If, as a
                    result of moving the checkers, any two checkers are on the same
                    field, they are both removed from the board. Otherwise, the checkers
                    are rearranged. The goal is to reach the opposite horizontal with a
                    surviving checker.
                </p>
            </div>
            <div class="col-md-5">
                <img
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                        width="500"
                        height="500"
                        xmlns="http://www.w3.org/2000/svg"
                        role="img"
                        aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice"
                        focusable="false"
                        th:src="@{${server_address + ':8000/images/app_banner_game.jpg'}}"
                />


                <rect width="100%" height="100%" fill="#eee"></rect>
                <text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
            </div>

        </div>


    </div>

    <hr class="sep"/>


  <div class="text_wraper">

    <h2 style="color: white;">Причины сотрудничать с Колесников web</h2>

    <div class="col" style="text-align: left;">
      <div class="col-lg-4 col-md-6 mt-4">
        <p>Работа выполняется в срок.</p>
      </div>
      <div class="col-lg-4 col-md-6 mt-4">
        <p>Для начала работы не требуется предоплата.</p>
      </div>
      <div class="col-lg-4 col-md-6 mt-4">
        <p>Работаю по договору.</p>
      </div>
      <div class="col-lg-4 col-md-6 mt-4">
        <p>Использую Rest-API и это значит, что в будущем можно модернизировать продукт.</p>
      </div>
    </div>
  </div>


    <hr class="sep"/>

  <div class="text_wraper">
    <h2 style="color: white;">Этапы работы над проектом</h2>

  </div>

    <div class="work_flow_div" style="margin-top: 1rem;">
        <img th:src="@{${server_address + ':8000/images/work_flow.jpg'}}" alt="заказ сайта"/>
    </div>

    <div class="price_btn" style="align-items: center">
        <a href="/contact"
        >
            <button
                    type="button"
                    style="padding: 4px"
                    class="btn btn-outline-light"
            >
                Оставить заявку
            </button>
        </a
        >
    </div>

    <!-- FOOTER -->
    <footer class="container">
        <p class="float-end"><a href="#">Наверх</a></p>
        <p>© 2023 Колесников</p>
    </footer>
</main>

<script>
      var body = document.getElementsByTagName("body")[0];
      // var effect = document.getElementsByClassName('effect')[0];
      body.style.backgroundColor = "white";

      // trigger this function every time the user scrolls
      window.onscroll = function (event) {
        var scroll = window.pageYOffset;
        // if (scroll < 10) {
        //   // white
        //   body.style.backgroundColor = "white";
        // } else

        if (scroll >= 5 && scroll < 200) {
          // gray
          body.style.backgroundColor = "gray";
          // effect.style.backgroundColor = 'black';
        } else if (scroll >= 15 && scroll < 800) {
          // black
          body.style.backgroundColor = "black";
        }
      };
</script>


<script th:src="@{${server_address} + ':8000/styles/js/bootstrap.bundle.min.js'}" rel="stylesheet" ></script>

</body>
</html>
